*{
    padding: 0;
    margin: 0;
    border: 0;
}

body{
    background-color: #B697FD;
}

#contenedor{
    width: 100%;
    height: fit-content;
    border-radius: 5px;
}

#encabezado{
    width: 100%;
    background: linear-gradient(#5C3AF2,#B697FD);
    
}

#seccion{
    width: 100%;
    background-color: white;
}

#pie{
    width: 100%;
    background: linear-gradient(#5C3AF2, #B697DF);
    padding-bottom: 32px;
}


#btnCargarA{
    position: relative;
    overflow: hidden;
    height: 2rem;
    padding: 0 2rem;
    border-radius: 0.5rem;
    background: #3d3a4e;
    background-size: 400%;
    color: #fff;
    border: none;
    cursor: pointer;
    margin:  32px 0px 32px 0px;
}
#btnCargarP{
    position: relative;
    overflow: hidden;
    height: 2rem;
    padding: 0 2rem;
    border-radius: 0.5rem;
    background: #3d3a4e;
    background-size: 400%;
    color: #fff;
    border: none;
    cursor: pointer;
    margin:  32px 0px 32px 0px;
}

#btnLimpiar{
    position: relative;
    overflow: hidden;
    height: 2rem;
    padding: 0 2rem;
    border-radius: 0.5rem;
    background: #3d3a4e;
    background-size: 400%;
    color: #fff;
    border: none;
    cursor: pointer;
    margin:  32px 0px 32px 0px;
}

#btnCargarA:hover::before{
    transform: scaleX(1);
}
#btnCargarP:hover::before{
    transform: scaleX(1);
}

#btnLimpiar:hover::before{
    transform: scaleX(1);
}

#contenidoCargarA{
    position: relative;
    z-index: 1;
}
#contenidoCargarP{
    position: relative;
    z-index: 1;
}

#contenidoLimpiar{
    position: relative;
    z-index: 1;
}

#btnCargarA::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(
    82.3deg,
    rgba(150, 93, 233, 1) 10.8%,
    rgba(99, 88, 238, 1) 94.3%);
  transition: all 0.475s;
}

#btnCargarP::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(
      82.3deg,
      rgba(150, 93, 233, 1) 10.8%,
      rgba(99, 88, 238, 1) 94.3%);
    transition: all 0.475s;
  }

#btnLimpiar::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 100%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(
    82.3deg,
    rgba(150, 93, 233, 1) 10.8%,
    rgba(99, 88, 238, 1) 94.3%);
  transition: all 0.475s;
}