*{
    padding: 0%;
    margin: 0%;
}

body{
    background-color: #B697FD;
}

#contenedor{
    width: 100%;
    height: fit-content;
    border-radius: 5px;
}

#encabezado{
    width: 100%;
    background: linear-gradient(#5C3AF2,#B697FD);
    
}

#seccion{
    width: 100%;
    background-color: white;
}

#pie{
    width: 100%;
    background: linear-gradient(#5C3AF2, #B697DF);
}

#txtId{
    margin-top: 32px;
}

#areaResutado{
    margin-bottom: 32px;
    font-size: 12px;
}

#btnBuscar {
    position: relative;
    overflow: hidden;
    height: 2rem;
    padding: 0 2rem;
    border-radius: 0.5rem;
    background: #3d3a4e;
    background-size: 400%;
    color: #fff;
    border: none;
    cursor: pointer;
    margin:  32px 0px 32px 0px;
  }

#btnLimpiar{
    position: relative;
    overflow: hidden;
    height: 2rem;
    padding: 0 2rem;
    border-radius: 0.5rem;
    background: #3d3a4e;
    background-size: 400%;
    color: #fff;
    border: none;
    cursor: pointer;
    margin:  32px 0px 32px 0px;
}

#btnBuscar:hover::before{
    transform: scaleX(1);
}

#btnLimpiar:hover::before{
    transform: scaleX(1);
}

#contenidoBuscar{
    position: relative;
    z-index: 1;
}

#contenidoLimpiar{
    position: relative;
    z-index: 1;
}

#btnBuscar::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(
    82.3deg,
    rgba(150, 93, 233, 1) 10.8%,
    rgba(99, 88, 238, 1) 94.3%);
  transition: all 0.475s;
}

#btnLimpiar::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 100%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(
    82.3deg,
    rgba(150, 93, 233, 1) 10.8%,
    rgba(99, 88, 238, 1) 94.3%);
  transition: all 0.475s;
}

#txtId{
    color: black;
    border: 2px solid #8707ff;
    border-radius: 10px;
    padding: 10px 25px;
    background: transparent;
    max-width: 190px;
}

#txtId:active{
    box-shadow: 2px 2px 15px #8707ff inset;
}

p{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}

